{% extends "travel/layout.html" %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">

            {% if messages %}
            {% for message in messages %}
            <div class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'warning' %}alert-warning{% else %}alert-success{% endif %}"
                role="alert">
                {{ message }}
            </div>
            {% endfor %}
            {% endif %}

            <h2 class="mb-4 text-center font-weight-bold text-info">Lista de Pasajeros</h2>
            <form method="get" class="form-inline mb-3" id="searchForm">
                <div class="form-group mr-2 flex-grow-1">
                    <input type="text" class="form-control rounded-pill w-100" id="search_query" name="search_query"
                        placeholder="Buscar por nombre, apellido o DNI" value="{{ search_query|default:'' }}">
                </div>
                <button type="submit" class="btn-vintage">Buscar</button>
            </form>
            {% if passengers %}
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col" data-sortable="true">Código de Pasajero</th>
                        <th scope="col" data-sortable="true">Rol</th>
                        <th scope="col" data-sortable="true">Nombre</th>
                        <th scope="col" data-sortable="true">Apellido</th>
                        <th scope="col" data-sortable="true">DNI</th>
                        <th scope="col" data-sortable="true">Edad</th>
                        <th scope="col" data-sortable="true">Correo Electrónico</th>
                        <th scope="col" data-sortable="true">Número de Teléfono</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for passenger in passengers %}
                    <tr>
                        <td>{{ passenger.passenger_code }}</td>
                        <td>{{ passenger.get_role_display }}</td>
                        <td>{{ passenger.name }}</td>
                        <td>{{ passenger.lastname }}</td>
                        <td>{{ passenger.dni }}</td>
                        <td>{{ passenger.age }}</td>
                        <td>{{ passenger.email }}</td>
                
                        <td>{{ passenger.phone_number }}</td>
                        <td>
                            <div class="dropdown">
                                <button class="btn btn-sm btn-outline-info dropdown-toggle" type="button"
                                    id="dropdownMenuButton{{ passenger.id }}" data-bs-toggle="dropdown"
                                    aria-expanded="false" style="font-size: 0.8em; margin-bottom: 0.2em;">
                                    Acciones
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ passenger.id }}">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'edit_passenger' passenger.id %}"
                                            style="font-size: 0.8em;">
                                            <i class="fas fa-edit me-1"></i> Editar
                                        </a>
                                    </li>
                                    <li>
                                        <button type="button" class="dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#deleteModal{{ passenger.id }}" style="font-size: 0.8em;">
                                            <i class="fas fa-trash-alt me-1"></i> Eliminar
                                        </button>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'passenger_sales' passenger.id %}"
                                            style="font-size: 0.8em;">
                                            <i class="fas fa-money-bill-alt">Estado de deuda</i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        

                    </tr>

                    <!-- Modal -->
                    <div class="modal fade" id="deleteModal{{ passenger.id }}" tabindex="-1"
                        aria-labelledby="deleteModalLabel{{ passenger.id }}" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel{{ passenger.id }}">Confirmar
                                        Eliminación</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>¿Estás seguro de que deseas eliminar al pasajero {{ passenger.name }}?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Cancelar</button>
                                    <a href="{% url 'delete_passenger' passenger.id %}"
                                        class="btn btn-danger">Confirmar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </tbody>
            </table>
            <div class="pagination">
                <span class="step-links">
                    {% if passengers.has_previous %}
                    <a href="?page=1">&laquo; primera |</a>
                    <a href="?page={{ passengers.previous_page_number }}">anterior</a>
                    {% endif %}

                    <span class="current">
                        Página {{ passengers.number }} de {{ passengers.paginator.num_pages }}.
                    </span>

                    {% if passengers.has_next %}
                    <a href="?page={{ passengers.next_page_number }}">siguiente |</a>
                    <a href="?page={{ passengers.paginator.num_pages }}">ultima &raquo;</a>
                    {% endif %}
                </span>
            </div>
            {% endif %}

            <a href="{% url 'create_passenger' %}" class="btn btn-primary btn-block mt-3 rounded-pill">Registrar
                Pasajero</a>
        </div>
    </div>
</div>

{% endblock %}